!!!
%html
  %head
    %link{:rel => "stylesheet", :href => "/style.css", :type => "text/css"}
    %title metar

  %body

    .main
      %form{:action => "metar"}
        %label{:for => "airport"} airport(s)
        %input#airport.text{:type => "text", :name => "airport", :autocomplete => "off"}

        %input.button{:type => "submit"}
